body {
  background-color: #fff;
  
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #9ea8b3;
  letter-spacing: 0.02em;

  width: 100%;
  height: 100vh;
  overflow: hidden; /* запрещает прокрутку */
}


/* * {
  outline: 1px solid red;
} */
/* .menu__icon{
  width: 18px;
  height: 20px;
} */

/* .menu__icon-work {
  width: 20px;
  height: 20px;
} */

/* .icons__img123{
  margin-left: 144px;
} */

.sidebar{
  height: 100vh;
  width: 280px;

  background-color: #1B2545;
  
  overflow-x: auto;
  /* color: #; */

  padding-top: 6px;
}

.siderbar__logo{
  padding-left: 6px;

}

.layout{
  display: flex;

  height: 100vh
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: calc(100% -  280px);
  min-height: 100vh;

  background-color: #fff;

  transition: all 0.5s ease;
}


.sidebar__people{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar__img{
  width: 48px;
  height: 48px;

  border-radius: 9999px;
}

.sidebar__tag{
  width: 6px;
  height: 30px;
  margin-top: 6px;
}
/* 
.siderbar__user {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 28px;
} */

.sibebar__name {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.sidebar__admin {
  font-size: 14px;
  color:#3366FF;
}

.siderbar__user {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
  margin-top: 6px;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  /* margin-left: 20px; */
}

.menu__wrapper {
  display: flex;
  align-items: center;
  gap: 6px;


  width: 280px;
  height: 44px;

  padding: 8px 16px;

}

.menu__wrapper-arrow{
  display: flex;
  align-items: center;
  gap: 10px;


  width: 280px;
  height: 44px;

  padding: 8px 44px 8px 16px;
}

.menu__item-arrow{
  display: flex;
  /* align-items: center; */
  gap: 10px;

  width: 220px;
  height: 28px;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 248px;
  height: 28px;

}
/* .menu__item__d1 {
  display: flex;
  align-items: center;

  /* padding: 8px 152px 8px 18px; */
  /* gap: 152px; */
/* } */ 

.menu__left2{
  display: flex;
  gap: 8px;

}

.menu__something{
  display: flex;
  align-items: center;
}

/* .menu__item__d2 {
  display: flex;
  align-items: center;
  gap: 54px;

  padding: 8px 152px 8px 18px;
  margin-bottom: 8px;
} */

.control{
  width: 170px;
  height: 18px;
}

.control__kaspi{
  width: 166px;
  height: 17px;
}

.sales  {
  width: 20px;
  height: 20px;
}

/* .menu__crist{
  display: flex;
  /* gap: 10; */
/* }  */

.submenu {
  display: none; /* Начально скрыто */
  padding-left: 10px;
  
  visibility: hidden; /* Скрыт для навигации */
  transition: opacity 0.3s ease, visibility 0.3s ease;

  opacity: 0; /* Начальная прозрачность */
}



.abonementForm1 {
  position: fixed;
  top: 0;
  right: 0;

  width: 900px;
  height: 100%;

  background-color:#fff;

  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.abonementForm1.active {
  transform: translateX(0);
}

.menu-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  /* padding: 8px 152px 8px 18px; */
  /* margin-bottom: 8px; */

  background: none;
  border: none;
 
  font-size: 16px;
  color: #9ea8b3;
  
  cursor: pointer;

}

.arrow {
  transition: transform 0.3s ease;
  margin-left: 138px;
}

/* .menu__item__d3.active .arrow {
  transform: rotate(180deg);
} */

/* .menu-text {
  margin-left: 8px;
} */

/* .menu__wrapper:hover{
  color: white;
} */
.side__button {
  /* margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 16px; */
  margin: 10px 0 12px 16px;

  font-size: 16px;
  color: #818c96;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 24px;
}

.welcome__title {
  font-weight: 600;
  font-size: 24px;
  color: #272e35;
}

.welcome__btns {
  display: flex;
  gap: 16px;
}

.welcome__dowload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 115px;
  height: 40px;
  padding: 0px 16px 0px 12px;

  border: 1px solid #cfd6dd;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(27, 36, 44, 0.12);
  background: #fff;

  font-size: 14px;
  color: #4a545e;

  opacity: 1;
  }

.welcome__abonoment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 206px;
  height: 40px;
  padding: 0px 16px 0px 4px;

  color: #fff;
  background: #3062d4;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(27, 36, 44, 0.12);

  font-size: 14px;

  
}


.action {
  /* padding: 20px 24px; */
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 16px 24px;

  border-top: 1px solid #eaedf0;
  /* width: 1160px; */
}

.action__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.action__club {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  
  width: 103px;
  height: 32px;
  padding: 4px 8px;
  
  background: #f0f3f5;
  
  font-size: 14px;
  border-radius: 8px;
  color: #272e35;

  
}

.action__continue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 216px;
  height: 32px;
  padding: 4px 8px;

  background: #f0f3f5;
  border-radius: 8px;

  font-size: 14px;
  color: #272e35;


}

.action__type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 94px;
  height: 32px;
  padding: 4px 8px;

  border-radius: 8px;
  background: #f0f3f5;
  
  color: #272e35;
  font-size: 14px;

}

.action__and {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 62px;
  height: 32px;
  padding: 4px 8px;

  font-size: 14px;
  color: #272e35;
  
  background: #f0f3f5;
  border-radius: 8px;
}

.action__input {
  display: flex;
  align-items: center;
  width: 183px;
  height: 32px;
  padding: 4px 8px;

  font-size: 14px;
  color: #7e8c9a;
  
  background: rgba(255, 255, 255, 0); 
  border-radius: 8px;
}

.action__search{
  width: 18px;
  height: 18px;
  margin-right: 8px;
}


.content__welcome{
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.content__title {
  font-weight: 600;
  font-size: 18px;

  color: #272e35;
}

.content__info {
  display: flex;
}

.content__info-first {
  display: flex;
  flex-direction: column;
  width: 284px;
  height: 874px;
  padding: 24px;

  background: #f6f6f6;

}

.info__wrapper {
  display: flex;
}

.info__title {
  padding-left: 6px;
  margin-bottom: 4px;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #272937;
}

.info__text {
  padding-left: 6px;
  letter-spacing: 0.03em;

  font-weight: 400;
  font-size: 12px;
  color: rgba(39, 41, 55, 0.75);
}

.info__text-wrapper {
  display: flex;
  flex-direction: column;
}

.info__img  {
  width: 24px;
  height: 24px;
}

.content__info-second{
  padding: 24px 38px 0 38px;

  border-top: 1px solid #eaedf0;
}

.second__title{
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 16px;
  color: #272937; 

}

.input__title  {
  margin-bottom: 8px;

  font-size: 14px;
  color: #272e35;
}

.info__input {
  width: 542px;
  height: 40px;
  padding: 8px 16px;
  margin-bottom: 24px;
  
  border: 1px solid #cfd6dd;
  border-radius: 8px;
  background: #fff;

  font-size: 14px;
  color: #272e35;

  opacity: 0.5;
}


.info__wrapper-measure {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.measure__title {
  margin-bottom: 8px;

  font-size: 14px;
  color: #272e35;
}

.measure__input {
  width: 263px;
  height: 40px;
  padding: 4px 4px 4px 16px;

  border: 1px solid #cfd6dd;
  border-radius: 8px; 

  font-size: 14px;
  color: #272e35;
}


.measure__input-data {
  width: 127px;
  height: 40px;
  padding: 4px 4px 4px 16px;

  

  background: #fff;
  border: 1px solid #cfd6dd;
  border-radius: 8px;
  
  font-size: 14px;
  color: #272e35;

  opacity: 0.5;
}



.switch-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: #2c2c2c;
}

.switch-input {
  display: none;
}

.switch-slider {
  position: relative;

  width: 36px;
  height: 20px;

  background-color: #a0aab4;
  border-radius: 999px;

  transition: background-color 0.2s ease;

  cursor: pointer;

}

.switch-slider::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 2px;

  width: 16px;
  height: 16px;

  background-color: white;
  border-radius: 50%;

  transition: transform 0.2s ease;
}

/* Включенное состояние */
.switch-input:checked + .switch-slider {
  background-color: #4caf50;
}

.switch-input:checked + .switch-slider::before {
  transform: translateX(16px);
}


.switch__wrapper{
  margin-bottom: 20px;
}


.main__crest:hover{
  cursor: pointer;
  color: gray;
}


/* .filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filters select, .filters input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
} */

.add-button {
  padding: 10px 18px;
  
  background: #2563eb;
  border: none;
  border-radius: 6px;
  
  color: white;

  cursor: pointer;
}
.table1{
  flex: 1;
}
.table {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-height: 90%;
  /* margin-bottom: 70px; */

  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);

  overflow: auto;


}

.table-header, .table-row {
  display: contents;

  font-weight: 600;
  font-size: 12px;
  color: #272e35;
}

.table-cell {
  padding: 12px 20px 12px 8px;

  border-bottom: 1px solid #e5e7eb;
  color: #111827;


}

.table-header .table-cell {
  background: #f3f4f6;
  font-weight: 600;
}

.table-row:last-child .table-cell {
  border-bottom: none;
}

.table-row {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.02em;
  color: #272e35;
}
.checkbox-cell {
  text-align: center;
}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  list-style: none;

  
  margin-top: -6px;
}

.pagination li {
  margin: 0 6px;
}

.pagination button {
  padding: 6px 10px;

  border: 1px solid #ccc;
  background-color: #fff;
  
  cursor: pointer;
  outline: none;
}

.pagination button:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.pagination .active {
  font-weight: bold;
  background-color: #eee;
}
